[[language]]
name = "python"
indent = { tab-width = 4, unit = "    " }
injection-regex = "python"
file-types = ["py","pyi","py3","pyw",".pythonstartup",".pythonrc"]
shebangs = ["python"]
roots = ["pyproject.toml", "setup.py", ".git"]
comment-token = "#"
language-servers = [
  {name = "pyright",  except-features = [ "format" ] },
  {name = "ruff", except-features = [ ]}, 
  {name = "pylsp",  only-features = [ ], except-features = [ "completion", "diagnostics", "format" ] },
  {name = "typos",  only-features = [ ], except-features = [ ] },
]
auto-format = true
# Enable formatting as well as import sorting; commands are chained with the linux pipe ("|") 
# https://github.com/helix-editor/helix/discussions/5637
# formatter = { command = "sh", args = ["-c", "ruff check - --select I --fix | ruff format -"]}

[[language]]
name = "markdown"
file-types = ["md", "qmd"]
language-servers = [
  {name = "typos",  only-features = [ ], except-features = [ ] },
]

[[language]]
name = "hcl"
file-types = ["tf"]
language-servers = [
  {name = "terraform-ls",  only-features = [ ], except-features = [ ] },
]

[[language]]
name = "yaml"
file-types = ["yaml", "yml", "yaml.tpl"]
language-servers = [
  {name = "typos",  only-features = [ ], except-features = [ ] },
  {name = "yaml-language-server",  only-features = [ ], except-features = [ ] },
]

[language-server.yaml-language-server]
command = "yaml-language-server"
auto-format = true
formatter = { command = "prettier", args = ["--parser", "yaml"] }

[language-server.yaml-language-server.config.yaml]
format = { enable = true }
validation = true

[language-server.yaml-language-server.config.yaml.schemas]
"https://json.schemastore.org/github-workflow.json" = ".github/workflows/*.{yml,yaml}"
"https://raw.githubusercontent.com/ansible-community/schemas/main/f/ansible-tasks.json" = "roles/{tasks,handlers}/*.{yml,yaml}"

[language-server.pyright]
command = "pyright-langserver"
args = ["--stdio"]

[language-server.pyright.config]
reportMissingTypeStubs = false

[language-server.pyright.config.python.analysis]
typeCheckingMode = "basic"
autoImportCompletions = true

[language-server.terraform-ls]
command = "terraform-ls"
args = ["serve"]

[language-server.ruff]
command = "ruff"
args = ["server", "--verbose"]

[language-server.ruff.config.settings]
configurationPreference = "filesystemFirst"

[language-server.ruff.config.lint]
select = ["ALL"]

[language-server.pylsp]
command = "pylsp"

[language-server.typos]
command = "typos-lsp"
